# ============== APPLICATION ================== #
APP_PORT=8080
ENV=local

# ============== DATABASE ================== #
DB_DRIVER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=my_app
DB_SSL_MODE=disable
DB_MAX_OPEN_CONN=
DB_MAX_IDLE_CONN=
#DB_MAX_LIFE_TIME=
#DB_MAX_IDLE_TIME=

